server:
  port: 8443
  ssl:
    enabled: true
    key-store:  classpath:certs/cert.p12
    key-store-password: password
    keyStoreType: PKCS12
    keyAlias: webappsecurity


spring:
  application:
    name: thymeleaf
  profiles:
    active:
    - h2

---


spring:
  config:
    activate:
      on-profile:
      - mysql
  datasource:
      url: jdbc:mysql://localhost:3306/thymeleaf
      username: thymeleaf
      password: password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate: 
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect

---

spring:
  config:
    activate:
      on-profile:
      - h2
  datasource:
    url: jdbc:h2:mem:thymeleaf
    username: sa
    password: 
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect

    