<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments::htmlHeader"/>
    <title>Login</title>
</head>
<body>
<div class="container" style="padding-top:15%">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-3">


            <div class="alert alert-danger" th:if="${param.error}">
                Invalid username and password.
            </div>
            <div class="alert alert-success" th:if="${param.logout}">
                You have been logged out successfully!
            </div>
            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading" >Please sign in</h2>
                <label for="userName" class="sr-only">Email address</label>
                <input type="text" id="userName" name="username" class="form-control" placeholder="userName" required=""
                       autofocus=""/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                       required=""/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember-me" name="remember-me"/> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            </form>
        </div>
    </div>
</div>
</body>
</html>